# Скомпилированные файлы
*.class
*.jar
*.war
*.ear

# Файл с заметками (не коммитим данные пользователя)
data/notes.csv

# Идеи для IDE
.idea/
*.iml
.vscode/

# Системные файлы
.DS_Store
Thumbs.db

# Логи
*.log